<div>
	<div class="gag">
		<p>{{currentGag.caption}} <span data-ng-show="currentGag.from.name">,by {{currentGag.from.name}}</span></p>
		<img ng-src="{{currentGag.images.normal}}" alt="{{currentGag.caption}}">
		<p>Total Votes: {{currentGag.votes.count}}</p> | <a ng-href="{{currentGag.actions.like}}">Like</a> | <a ng-href="{{currentGag.actions.unlike}}">Unlike</a>
	<hr>
	</div>

	<br><br>
	<input type="button" value="Prev" data-ng-click="showGag('prev');">
	<input type="button" value="Next" data-ng-click="showGag('next');">
</div>